*archive

# Quarto source files
*.qmd

# Quarto build output and cache
_site/
quarto_articles/
.quarto/
/.quarto/
*_cache/
*_files/

# Ignore all article subdirectories except those published in articles/index.json
articles/*
!articles/index.json
!articles/Brownian_motion
**/*.quarto_ipynb

notes/
__pycache__
particles/