.article-layout {
    display: flex;
    align-items: flex-start;
}

.contents-nav {
    position: sticky;
    top: 100px; /* sticks when scrolling */
    flex: 0 0 220px; /* fixed width */
    max-height: 80vh;
    overflow-y: auto;
    padding: 15px;
    border-right: 2px solid #ddd;
    background-color: #0e147d;
    border-radius: 8px;
}

.notebook-container {
    max-width: 900px;
    border: #0c2340;
    background-color: #f27e7e;
    margin: 0 auto;
}