/* h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 55px;
    line-height: 1.2;
    color: #b51aa2;
} */

.article-list {
    font-family: Georgia, serif;
    font-size: 20px;
}