{% extends 'base.html' %}

{% block head %}
<title>Raymond Kil - Notre Dame Physics</title> <!--Need to feed in title from app.py-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock %}

{% block title %}Raymond Kil - {{ dirname }}{% endblock %}

{% block body %}
  <h1>Placeholder</h1>

  <div class="article-layout">
    <nav class="contents-nav"></nav>
    <article class="notebook-container">
      {{ nb_html|safe }}
    </article>
  </div>
  <a href="{{ url_for('articles') }}" class="return-home-btn">Return to Articles</a>
  <script src="{{ url_for('static', filename='js/article_toc.js') }}"></script>
{% endblock %}