{% extends 'base.html' %}

{% block head %}
<title>Raymond Kil - Notre Dame Physics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block body %}
<nav>
    <div class="nav-links">
        <a href="/about">About Me</a>
        <a href="/articles">Articles</a>
        <a href="/books">Book Reviews</a>
        <a href="/particles">Particles</a>
    </div>
</nav>
<img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="profile picture">
{% endblock %}